// * transition
$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// * fonts
$font-sans-serif: 'Cuprum', sans-serif;
$font-serif: 'Cormorant', serif;

// * colors
$font-black-color: #000000;
$font-white-color: #ffffff;

$accent-color: #78b62d;