// %yellov-btn {
//   font-size: 16px;
//   line-height: 1.6;
//   color: $hero-btn-font;

//   display: inline-block;

//   background-color: $accent-color;

//   &:hover span::after,
//   &:focus span::after {
//     transform: translate3d(0, 0, 0);
//   }

//   @include mq(tablet) {
//     font-size: 18px;
//   }

//   @include mq(desktop) {
//     font-size: 22px;
//   }
// }

%slide-in {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $accent-color;
    opacity: 1;
    transition: transform $time-function;
    transform: translate3d(-100%, 0, 0);
  }
}

%fade-in {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $font-black-color;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}

%icon-parquet {
  &::after {
    content: '';
    position: absolute;
    @include side-sizes(40px, 40px);
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='512' height='512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.02 1.281c-1.364.692-3.047 2.375-3.739 3.739C.278 6.997.071 58.177.261 257.222L.5 506.945l2.278 2.277 2.278 2.278h501.888l2.278-2.278 2.278-2.278V5.056l-2.278-2.278L506.945.5 257.222.261C58.177.071 6.997.278 5.02 1.281ZM131 18.407c0 .223-22.388 21.473-49.75 47.221-27.363 25.748-52.787 49.714-56.5 53.258L18 125.328V18h56.5c31.075 0 56.5.183 56.5.407Zm289 .345c0 .414-37.464 38.215-83.254 84.002l-83.254 83.25-29.988-30-29.988-30 5.992-5.926c3.296-3.26 28.029-27.561 54.964-54.002L303.443 18h58.279c32.053 0 58.278.339 58.278.752Zm74 31.505v32.256L466 110.5l-28 27.987-28.001-27.988-28-27.987 32.245-32.256L446.488 18H494v32.257Zm-227.006-21.91c-10.913 10.743-138.349 135.955-153.75 151.066l-10.256 10.063-30.495-30.483c-16.773-16.766-30.383-30.79-30.245-31.165.139-.374 26.102-25.014 57.696-54.754L157.388 19H276.487l-9.493 9.347Zm130.26 95.407 27.741 27.754-139.752 139.749-139.751 139.748L117.5 403l-27.992-28.005 139.495-139.498C305.725 158.774 368.726 96 369.005 96c.28 0 12.992 12.489 28.249 27.754Zm43.508 144.984C411.472 298.032 387.059 322 386.51 322c-.548 0-12.813-11.81-27.255-26.245l-26.26-26.246 80.253-80.257 80.252-80.257.259 53.24.259 53.24-53.256 53.263ZM130 309.5C69.227 370.275 19.165 420 18.752 420c-.414 0-.723-27.337-.688-60.75l.064-60.75 81.18-79.754 81.18-79.754 30.004 30.004L240.496 199 130 309.5ZM60.006 171.528 90.5 202.057l-36 35.317-36 35.318-.258-61.054-.258-61.054 4.721-4.792c2.596-2.635 5.189-4.792 5.764-4.792.574 0 14.766 13.738 31.537 30.528ZM494 299.253v57.254l-54.998 54.991-54.999 54.992-28.501-28.488C339.826 422.333 327 409.061 327 408.509 327 407.36 492.1 242 493.248 242c.413 0 .752 25.764.752 57.253Zm-121 36.238c0 .552-35.436 36.443-78.748 79.757L215.505 494H108.504l105.993-105.997 105.994-105.998 26.255 26.241C361.186 322.678 373 334.938 373 335.491ZM494 438.5V494H382.507L438 438.5c30.521-30.525 55.607-55.5 55.747-55.5.139 0 .253 24.975.253 55.5Zm-388.757-22.757 27.756 27.743-25.242 25.257L82.515 494H18V446.513l29.244-29.257C63.328 401.165 76.712 388 76.987 388c.275 0 12.99 12.484 28.256 27.743Zm237.748 34.748 28.477 28.49-7.459 7.51L356.55 494h-57.275c-31.501 0-57.275-.335-57.275-.745 0-1.146 70.351-71.255 71.501-71.255.557 0 13.827 12.821 29.49 28.491Z' fill='%2378b62d'/%3E%3C/svg%3E");
    background-size: cover;
  }
}

// %sosial-box {
//   @include flex-center();
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   transition-property: background-color;
//   @extend %trans;

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//   }
// }

// %sosial-icon {
//   height: 20px;
//   width: 20px;

//   @extend %trans;

//   .soclink__box:hover &,
//   .soclink__box:focus & {
//     fill: $white-color;
//   }
// }