<section class="montage section">
  <div class="container">
    <h2 class="montage__section section-title">Монтаж</h2>
    <div class="montage__wrapper">
      <div class="montage__left">
        <img class="montage__img" src="#" alt="" />
      </div>
      <div class="montage__right">
        <p class="montage__text section-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet,
          velit blanditiis, et similique illo maiores modi, assumenda tempora
          ratione voluptatem repudiandae aliquam sit quisquam saepe alias
          exercitationem ex! Ducimus, ab.
        </p>
        <p class="montage__text section-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet,
          velit blanditiis, et similique illo maiores modi, assumenda tempora
          ratione voluptatem repudiandae aliquam sit quisquam saepe alias
          exercitationem ex! Ducimus, ab.
        </p>
      </div>
    </div>
    <div class="montage__wrapper">
      <div class="montage__left">
        <img class="montage__img" src="#" alt="" />
      </div>
      <div class="montage__right">
        <p class="montage__text section-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet,
          velit blanditiis, et similique illo maiores modi, assumenda tempora
          ratione voluptatem repudiandae aliquam sit quisquam saepe alias
          exercitationem ex! Ducimus, ab.
        </p>
        <p class="montage__text section-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet,
          velit blanditiis, et similique illo maiores modi, assumenda tempora
          ratione voluptatem repudiandae aliquam sit quisquam saepe alias
          exercitationem ex! Ducimus, ab.
        </p>
      </div>
    </div>
  </div>
</section>
