<section class="products section">
  <div class="container">
    <h2 class="products__title section-title">Продукція</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__wrapper anim-items">
          <img class="products__img" src="#" alt="" />
          <div class="products__desk">
            <h3 class="products__subtitle">Назва дерева</h3>
            <p class="products__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, explicabo.
            </p>
            <a class="products__link" href="">Кнопка</a>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__wrapper anim-items">
          <img class="products__img" src="#" alt="" />
          <div class="products__desk">
            <h3 class="products__subtitle">Назва дерева</h3>
            <p class="products__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, explicabo.
            </p>
            <a class="products__link" href="">Кнопка</a>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__wrapper anim-items">
          <img class="products__img" src="#" alt="" />
          <div class="products__desk">
            <h3 class="products__subtitle">Назва дерева</h3>
            <p class="products__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, explicabo.
            </p>
            <a class="products__link" href="">Кнопка</a>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__wrapper anim-items">
          <img class="products__img" src="#" alt="" />
          <div class="products__desk">
            <h3 class="products__subtitle">Назва дерева</h3>
            <p class="products__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, explicabo.
            </p>
            <a class="products__link" href="">Кнопка</a>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__wrapper anim-items">
          <img class="products__img" src="#" alt="" />
          <div class="products__desk">
            <h3 class="products__subtitle">Назва дерева</h3>
            <p class="products__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, explicabo.
            </p>
            <a class="products__link" href="">Кнопка</a>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__wrapper anim-items">
          <img class="products__img" src="#" alt="" />
          <div class="products__desk">
            <h3 class="products__subtitle">Назва дерева</h3>
            <p class="products__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, explicabo.
            </p>
            <a class="products__link" href="">Кнопка</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
