<section class="production section">
  <div class="container">
    <h2 class="production__title section-title">Виробництво</h2>
    <p class="production__desc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime nemo fuga
      eligendi laudantium ab enim modi, necessitatibus tempore veritatis et.
      Consequatur blanditiis tenetur fuga aperiam impedit autem necessitatibus,
      iste amet maxime dolorum rerum dignissimos quaerat deleniti asperiores
      quos quia harum ex delectus culpa nemo officiis id cum! Aliquam, esse
      blanditiis.
    </p>
    <div class="production__gallery">
      <span>тут буде галерея фоток виробництва =></span>
    </div>
  </div>
</section>
