<section class="reviews section">
  <div class="container">
    <h2 class="reviews__title section-title">Відгуки про нас</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="review">
            <div class="review__line">
              <img class="review__img" src="#" alt="" />
              <h3 class="review__client">Ім'я клієнта</h3>
            </div>
            <p class="review__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
              eos in? Voluptate nobis assumenda sed cum suscipit recusandae
              molestias nihil maxime porro. Id, consequatur atque?
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__line">
              <img class="review__img" src="#" alt="" />
              <h3 class="review__client">Ім'я клієнта</h3>
            </div>
            <p class="review__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
              eos in? Voluptate nobis assumenda sed cum suscipit recusandae
              molestias nihil maxime porro. Id, consequatur atque?
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__line">
              <img class="review__img" src="#" alt="" />
              <h3 class="review__client">Ім'я клієнта</h3>
            </div>
            <p class="review__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
              eos in? Voluptate nobis assumenda sed cum suscipit recusandae
              molestias nihil maxime porro. Id, consequatur atque?
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__line">
              <img class="review__img" src="#" alt="" />
              <h3 class="review__client">Ім'я клієнта</h3>
            </div>
            <p class="review__text section-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
              eos in? Voluptate nobis assumenda sed cum suscipit recusandae
              molestias nihil maxime porro. Id, consequatur atque?
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="review">
          <div class="review__line">
            <img class="review__img" src="#" alt="" />
            <h3 class="review__client">Ім'я клієнта</h3>
          </div>
          <p class="review__text section-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, eos
            in? Voluptate nobis assumenda sed cum suscipit recusandae molestias
            nihil maxime porro. Id, consequatur atque?
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="review">
          <div class="review__line">
            <img class="review__img" src="#" alt="" />
            <h3 class="review__client">Ім'я клієнта</h3>
          </div>
          <p class="review__text section-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, eos
            in? Voluptate nobis assumenda sed cum suscipit recusandae molestias
            nihil maxime porro. Id, consequatur atque?
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="review">
          <div class="review__line">
            <img class="review__img" src="#" alt="" />
            <h3 class="review__client">Ім'я клієнта</h3>
          </div>
          <p class="review__text section-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, eos
            in? Voluptate nobis assumenda sed cum suscipit recusandae molestias
            nihil maxime porro. Id, consequatur atque?
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="review">
          <div class="review__line">
            <img class="review__img" src="#" alt="" />
            <h3 class="review__client">Ім'я клієнта</h3>
          </div>
          <p class="review__text section-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, eos
            in? Voluptate nobis assumenda sed cum suscipit recusandae molestias
            nihil maxime porro. Id, consequatur atque?
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
