.advantages {
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages__list {
  @include mq(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @include mq(laptop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(only-mobile) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.advantages__icon {
  @include side-sizes(50px, 50px);
  @include flex-center;
  margin-bottom: 5px;
  color: $accent-color;
}

.advantages__swg {
  @include side-sizes(40px, 40px);
}

.advantages__text {
  font-family: $font-serif;
  font-weight: 500;
  font-size: 20px;

}