.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__menu {
  display: flex;
  align-items: center;

  @include mq(laptop) {
    justify-content: space-between;
  }
}

.header__logo {
  @include side-sizes(152px, 70px);

  @include mq(laptop) {
    @include side-sizes(195px, 90px);
  }

  color: $font-black-color;
}

.header__list {
  display: none;

  @include mq(laptop) {
    display: flex;
    gap: 50px;
  }
}

.header__link {
  font-family: $font-serif;
  font-weight: 600;
  font-size: 22px;

  transition: color $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include mq(laptop) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header__phone-link {
  display: none;

  font-family: $font-serif;
  font-weight: 600;
  font-size: 22px;

  transition: color $time-function;

  @include mq(tablet) {
    display: flex;
    align-items: center;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include mq(tablet-only) {
    margin-left: auto;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__phone-icon {
  @include side-sizes(20px, 20px);
  @include flex-center;
  margin-right: 15px;
}