.montage {
  background: linear-gradient(90deg, rgba(120, 182, 45, 0.25) 0%, rgba(120, 182, 45, 0.25) 100%);
}

.montage__wrapper {
  @include mq(tablet) {
    display: flex;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.montage__left {
  background-color: lightgray;
  height: 300px; // TODO костиль

  @include mq(mobile-only) {
    margin-bottom: 30px;
  }

  @include mq(tablet) {
    width: 50%;
    background-color: lightgray;
  }
}

.montage__right {
  @include mq(tablet) {
    padding: 25px;
    width: 50%;
  }
}

.montage__text {
  font-family: $font-serif;
  font-weight: 500;
}